<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
    </tr>
  </thead>
  <% @books.each do |book| %>
    <tbody>
      <th><%= book.title %></th>
      <th><%= book.body %></th>
      <th><%= link_to 'Show', book_path(book.id) %></th>
      <th><%= link_to 'Edit', edit_book_path(book.id) %></th>
      <th><%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></th>
    </tbody>
  <% end %>
</table>

<!--newbook-->
<h3>New Book</h3>
<%= form_with model: Book.new do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
	
  <h4>本文</h4>
  <%= f.text_area :body %>
	
  <%= f.submit '投稿' %>
<% end %>